# URL de l'endpoint GraphQL v2 de mes-demarches
MD_GRAPHQL_URL=https://www.mes-demarches.gov.pf/api/v2/graphql
# Token API administrateur : write_access + scopé à la procédure + (prod) réseau autorisé
MD_API_TOKEN=remplacer_par_votre_token
